@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables;
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/chips";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/carousel";
@import "materialize/components/date_picker/default";
@import "materialize/components/date_picker/default.date";
@import "materialize/components/date_picker/default.time";

$body: #F5F5F5;
$maintext: #000078;
$footer: #FFFFFF;
$a: #000078;
$ahover: #00AAAA;

img{
  margin-top: 4px;
}

body{
  background-color: $body;
  color: $maintext;
}

.container{
  font-family: Ubuntu, sans-serif;
  padding: 8px;
  width: 100%;
}

.parallax-container {
  height: 400px;
}

.header{
  //font-family: Georgia, "Times New Roman", serif;
  padding-top: 8px;
}

.contact{
  color: $maintext;
}

.nav-wrapper{
  background-color: $maintext;
  padding: 0px;
}

a{
  color: $a;
}

a:hover{
  color: $ahover;
}

footer{
  text-align: center;
}

.returntotop {
    position: fixed;
    background-color: $maintext;
    //width: 100%;
}

.returntotop:hover{
  color: #FFFFFF;
  background-color: $ahover;
}

.submit{
  background-color: $maintext;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: $maintext;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  color: $body;
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: darken($body, 5%);
  color: $maintext;
  font-weight: bold;
  }

  .caption {
    color: $maintext;
    font-size: 2em;
    text-align: center;
  }


