<html>
<head></head>

<body>
  <header>
    <h1>SavvySoftWorks</h1>
    <hr>
  </header>

  <content>
    <table>
      <tr>
        <td>Name:</td>
        <td><%= @form_data['name'] %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @form_data['email'] %></td>
      </tr>
      <tr>
        <td>Message</td>
      </tr>
      <tr>
        <td><%= @form_data['textarea'] %></td>
      </tr>
    </table>
  </content>
  <footer>
    <p><%= @time %></p>
  </footer>
</body>
</html>
