<div class="about container" id="about">
  <h4>About Us:</h4>
  <h5>SavvySoftWorks - Paul Scarrone</h5>
  <p>
    When you have a set of skills its hard to escape using them. At SavvySoftWorks we do not directly solicit work but that work comes to us anyways.<br><br>

    Primarily, I build websites using a myriad of tools and frameworks. My goal is to use the best tool that saves as much time as possible to keep billing low but more importantly so I don't have to spend my life in-front of the computer.<br><br>

    I also provide support for companies seeking System Analyst and DevOps skills.<br><br>

    Finally, I spend my time teaching and enlightening companies about the benefits and cost savings of Cloud based and Open Source technologies. Its so easy to not be in the business of computers and fall behind on what is new and cool by a decade. There is always a learning curve but given enough time to heal the chafe of change, companies always come back to thank me for the simplicity I bring.
  </p>
</div>