<div class="about container" id="about">
  <h4 class="section-title">About</h4>
  <div class="row">
    <div class="col s12">
        <h5>SavvySoftWorks</h5>
        <p>We develop world class software development teams and software by integrating our engineers in small / medium sized companies. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process. Primarily we teach how to safely use OpenSource Software, improved code quality through low impact code reviews, and how to build reliable software using TDD. We can work with any major language and have serviced clients using RubyOnRails, Python, PHP, NodeJS, and various front end frameworks like AngularJS and ReactJS.</p>
    </div>
  </div>
  <div class="row">
    <div class="icon-block">
      <h4 class="center">
        <a href="https://www.ruby-lang.org/en/" target="_blank">
            <img src="images/ruby.png" alt="https://www.ruby-lang.org/en/" height="64">
        </a>

        <a href="http://rubyonrails.org/" target="_blank">
            <img src="images/rails-logo.svg" alt="http://rubyonrails.org/" height="64">
        </a>

        <a href="https://middlemanapp.com/" target="_blank">
            <img src="images/middleman.png" alt="https://middlemanapp.com/" height="64">
        </a>

        <a href="https://www.python.org/" target="_blank">
            <img src="images/python.png" alt="https://www.python.org/" height="64">
        </a>

        <a href="https://secure.php.net/" target="_blank">
            <img src="images/php.png" alt="https://secure.php.net/" height="64">
        </a>

        <a href="https://laravel.com/" target="_blank">
            <img src="images/laravel.png" alt="https://laravel.com/" height="64">
        </a>
      </h4>
    </div>
  </div>
    <div class="row">
    <div class="icon-block">
      <h4 class="center">
        <a href="https://nodejs.org/en/" target="_blank">
            <img src="images/nodejs.png" alt="https://nodejs.org/en/" height="64">
        </a>

        <a href="https://facebook.github.io/react/" target="_blank">
            <img src="images/reactjs.png" alt="https://facebook.github.io/react/" height="64" width="64">
        </a>

        <a href="https://angularjs.org/" target="_blank">
            <img src="images/angularjs.png" alt="https://angularjs.org/" height="64">
        </a>

        <a href="http://materializecss.com/" target="_blank">
            <img src="images/materialize.png" alt="http://materializecss.com/" height="64">
        </a>

        <a href="http://sass-lang.com/" target="_blank">
            <img src="images/sass.png" alt="http://sass-lang.com/" height="64">
        </a>

        <a href="https://www.rust-lang.org/" target="_blank">
            <img src="images/rust.png" alt="https://www.rust-lang.org/" height="64">
        </a>
      </h4>
    </div>
  </div>
</div>
