<div class="about container" id="about">
  <h4>About Us:</h4>
  <h5>SavvySoftWorks - Paul Scarrone</h5>
  <p>
    We develop world class software development teams and software by integrating our engineers in small / medium sized companies. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process. Primarily we teach how to safely use OpenSource Software, improved code quality through low impact code reviews, and how to build reliable software using TDD. We can work with any major language and have serviced clients using RubyOnRails, Python, PHP, NodeJS, and various front end frameworks like AngularJS and ReactJS.
  </p>
</div>