<div class="contact container" id="contact">
  <h4>Contact Us:</h4>
  <div class="row">
    <form class="serializableForm col s12" action="http://remailer.savvysoftworks.com" method="post" name="public token" value="722730f3aa7a28ba5c3f2c1d549135c8aaf586b44cc87ce54f5e0479095bb628">
      <input type="hidden" name="after_success" value="http://savvysoftworks.com"/>
      <input type="hidden" name="after_failure" value="http://savvysoftworks.com"/>
      <div class="row">                           
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_identity</i>
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <textarea id="textarea1" name="textarea" class="materialize-textarea" length="500"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
      <div class="row">
        <button id="submit" class="btn waves-effect waves-light submit" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>