<div class="current_clients container current" id="current_clients">
  <h4>Current Clients</h4>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>
        Lead with Cornerstone
      </div>
      <div class="collapsible-body">
        <h5>Lead with Cornerstone ReadyDayOne</h5>
        <p><em>September 2015</em><br>
          Cornerstone Management Resource Systems has brought true science to the process of management selection and manager in training development for Fortune 500 pharmaceutical companies. ReadyDayOne is a platform of tools and analytics that helps companies closely track their employees progress and build a predictive model for their success in future promotions.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>
        CemSites
      </div>
      <div class="collapsible-body">
        <h5>Senior Developer and Mentor</h5>
        <p><em>June 2016</em><br>
          A complete solution for cemetery management from gravesite to accounting.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>
        Additive Manufacturing
      </div>
      <div class="collapsible-body">
        <h5>Additive Manufacturing (3D Printing) Curriculum Development</h5>
        <p><em>Starting January 2015</em><br>
          Through a partnership between 3D Systems and the Westmoreland ATC we produced a curriculum and lab materials to teach educators how to use complex desktop additive manufacturing and build their own curriculums to educate high school and vocational programs to prepare students for the high tech manufacturing jobs of the future. We also use the same course material to produce a credit course through WCCC that will help make the ATC an area of focus for additive manufacturing in the greater Pittsburgh Area.
        </p>
      </div>
    </li>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">thumbs_up_down</i>
        Westmoreland County Community College (WCCC)
      </div>
      <div class="collapsible-body">
        <h5>Adjunct Professor of Computer Science</h5>
        <p><em>Teacher of Languages - Inspirer of Students</em><br><br>
          Developed CS Curriculum for Workforce Development to introduce college level CS concepts to High School Students.</p>
          <h6>JAVA 1 CPT-163 Curriculum - <em>Starting August 2015</em></h6>
          <p>
            Open Curriculum and Resources used to teach the first semester of CPT-163 JAVA 1 as a one night a week in person class.<br><br>
            I employed peer reviews and Github workflow on Github as well as introduced realtime chat for classroom support via Gitter. We touch on SOLID, DRY, and TDD during this introduction to JAVA.
          </p>
          <h6>Introduction to C++ CPT-180 Curriculum - <em>Starting January 2016</em></h6>
          <p>
            Open Curriculum and Resources used to teach the first semester of CPT-180 Intro to C++ as a one night a week in person class.<br><br>
            I employed peer reviews and Github workflow on Github as well as introduced realtime chat for classroom support via Gitter. We spend most of our time discussing style and will strengthen our procedural programming skills by focusing on recursion, pointers, and algorithm design in C++
          </p>
      </div>
    </li>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">grade</i>
        Greater Central Catholic High School (GCCHS)
      </div>
      <div class="collapsible-body">
        <h5>Computer Science Teacher (Part-Time)</h5>
        <p><em>August 2015 – May 2016</em><br>
          Helped GCCHS start a world class computer science curriculum teaching software design and implementation with JavaScript and HTML Game Development.</p>
        <h6>Computer Science Through Game Development Curriculum</h6>
        <p>
          Using game development to engage students, educators can explore the full range of the problem -> solution -> implementation process that produces something students can physically take with them in their future pursuits. Using low impedance tools like web browsers, JavaScript, and HTML5 Canvas we solve complex visual and logical problems building a solid base of software development skills.
        </p>
      </div>
    </li>
  </ul>
</div>