<div class="current_clients" id="current_clients">
  <h4>Current Clients</h4>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>
        Lead with Cornerstone
      </div>
      <div class="collapsible-body">
        <p>Ready Day One - Management Training Software</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>
        Additive Manufacturing
      </div>
      <div class="collapsible-body">
        <p>Curriculum Development - 3D Printing</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>
        CemSites
      </div>
      <div class="collapsible-body">
        <p>Senior Developer and Mentor</p>
      </div>
    </li>
  </ul>
</div>