<div class="row header" id="top">
  <div class="logo col s12 m7 l9">
    <h1>SavvySoftWorks</h1>
    <h4>Building reliable software and expert development teams</h4>
  </div>
  <div class="col s12 m5 l3 container headinfo">
      <h6>Paul Scarrone<br/>
      <a href="mailto:paul@savvysoftworks.com">paul@savvysoftworks.com</a><br>
      <a href="tel:+4125599224">412-559-9224</a><br>
      
      <a href="https://www.linkedin.com/company/savvysoftworks" target="_blank">
        <img src="images/In-2C-66px-R.png" alt="www.linkedin.com/company/savvysoftworks" height="64" width="75">
      </a>

      </h6>
  </div>
</div>
