<div class="row header" id="top">
  <div class="logo col s12 m8 l9">
    <h1>SavvySoftWorks</h1>
    <h4>Building reliable software and expert development teams</h4>
  </div>
  <div class="col s12 m4 l3 container">
      <p>Paul Scarrone<br/>
      <a href="tel:+4125599224">412-559-9224</a><br>
      <a href="mailto:paul@savvysoftworks.com">paul@savvysoftworks.com</a><br>
      <a target="_blank" href="https://twitter.com/paulscoder" target="_blank">
        <img src="images/64pxtwitterwhite.png" alt="www.twitter.com/paulscoder" height="32" width="32">
      </a>
      &nbsp
      <a href="https://www.linkedin.com/in/scarronp" target="_blank">
        <img src="images/In-2C-34px-R.png" alt="www.linkedin.com/in/scarronp" height="32" width="43">
      </a>
      </p>
  </div>
</div>
