<div class=" products container" id="products">

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">group</i></h2>
        <h4 class="center">Growing Your Development Team</h4>

        <p class="light">We develop world class software development teams and software by integrating our engineers in small / medium sized companies. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process. Primarily we teach how to safely use OpenSource Software, improved code quality through low impact code reviews, and how to build reliable software using TDD.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">email</i></h2>
        <h4 class="center">savvy_mailer</h4>

        <p class="light">Dynamically submit forms from static websites. Starting at $2 a month for unlimited submissions.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
        <h4 class="center">Coming Soon...</h4>

        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

</div>