<div class="products container" id="products">

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">group</i></h2>
        <h4 class="center">Team Growth</h4>

        <p class="light">We develop world class software development teams and software by integrating our engineers in small / medium sized companies. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process. Primarily we teach how to safely use OpenSource Software, improved code quality through low impact code reviews, and how to build reliable software using TDD.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">email</i></h2>
        <h4 class="center">savvy_mailer<br/>&nbsp;</h4>

        <p class="light">
        Open Source contact form micro service for those who don't need a dynamic website. We offer a hosted version of this service for $2 a month which includes unlimited messages.
        </p>
        <p class="light">
          Source: <a href="https://github.com/SavvySoftWorksLLC/savvy_mailer">https://github.com/SavvySoftWorksLLC/savvy_mailer</a>
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">settings</i></h2>
        <h4 class="center">Coming Soon...<br/>&nbsp;</h4>

        <p class="light">Your Project, Your Dream.</p>
        <p class="light">We will make your project a reality using the most up to date development practices and technologies. We focus on building the most maintainable, reliable, cost efficient solutions possible. Delivering only the features you need under budget. We will teach your team our techniques and provide documentation, leaving them capable of maintaining your project without further cost from us.</p>
      </div>
    </div>
  </div>

</div>
