<div class="team container" id="team">

  <div class="row">
    <div class="col s12 m6" style="padding-right: 2em;">
      <h4 class="center">Paul Scarrone</h4>
      <h5 class="center">CTO / Lead Developer</h5>
      <h6 class="center"><a href="mailto:paul@savvysoftworks.com">paul@savvysoftworks.com</a></h6>
      <div class="icon-block">
        <h4 class="center">
          <a href="https://www.linkedin.com/in/scarronp" target="_blank"><img src="images/In-2C-34px-R.png" alt="www.linkedin.com/in/scarronp" height="32" width="40"></a>
          <a target="_blank" href="https://twitter.com/paulscoder" target="_blank"><img src="images/TwitterLogo-32px.png" alt="www.twitter.com/paulscoder" height="32px" width="32px"></a>&nbsp;
          <a href="https://www.github.com/ninjapanzer" target="_blank">
            <img src="images/GitHub-Mark-32px.png" alt="GitHub.com/ninjapanzer" width="32px" height="32px">
          </a>
        </h4>
      </div>
        <p class="light">When you have a set of skills its hard to escape using them. At SavvySoftWorks we do not directly solicit work but that work comes to us anyways.<br><br>

        Primarily, I build websites using a myriad of tools and frameworks. My goal is to use the best tool that saves as much time as possible to keep billing low but more importantly so I don't have to spend my life in-front of the computer.<br><br>

        I also provide support for companies seeking System Analyst and DevOps skills.<br><br>

        Finally, I spend my time teaching and enlightening companies about the benefits and cost savings of Cloud based and Open Source technologies. Its so easy to not be in the business of computers and fall behind on what is new and cool by a decade. There is always a learning curve but given enough time to heal the chafe of change, companies always come back to thank me for the simplicity I bring.</p>      
    </div>
    <div class="col s12 m6" style="padding-left: 2em;">
      <h4 class="center">Gary A. Newsome</h4>
      <h5 class="center">Junior Software and Web Developer</h5>
      <h6 class="center"><a href="mailto:gary@savvysoftworks.com">gary@savvysoftworks.com</a></h6>
      <div class="icon-block">
        <h4 class="center">
          <a href="https://www.linkedin.com/in/garyanewsome" target="_blank"><img src="images/In-2C-34px-R.png" alt="www.linkedin.com/in/scarronp" height="32" width="40"></a>
          <a target="_blank" href="https://twitter.com/garyanewsome" target="_blank"><img src="images/TwitterLogo-32px.png" alt="www.twitter.com/paulscoder" height="32px" width="32px"></a>&nbsp;
          <a href="https://www.github.com/garyanewsome" target="_blank">
            <img src="images/GitHub-Mark-32px.png" alt="GitHub.com/garyanewsome" width="32px" height="32px">
          </a>
        </h4>
      </div>
        <p class="light">
          A recent graduate of Westmoreland County Community College, Gary graduated with an Associates Degree in Computer Information Systems - Programming for the Enterprise. He graduated with a 4.0 GPA and as a member of the Phi Theta Kappa Honor's Society.<br><br>

          After interning at SavvySoftWorks, he was hired on to continue assisting and supporting Paul Scarrone with SavvySoftWorks internal and client work. As well as taking on web site development projects for the company.<br><br>

          Eager for knowledge and experience Gary is constantly learning and developing his crafts. Be it musical, artistic, development, or design he can always be found working and creating.
        </p>
      
    </div>
  </div>

</div>
